<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-md-5">
        <h1 class="display-4">
          Ajouter une nouvelle tache
        </h1>
        <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <input name="title" #title="ngModel" [(ngModel)]= "newTach.title" class="form-control" placeholder="Titre">
          </div>
        
          <div class="form-group">
            <input name="description" #description="ngModel" [(ngModel)]= "newTach.description" class="form-control" placeholder="Description">
          </div>
        
          <div class="row">
              <div class="form-group col-md-6">
                <input name="assignedTo" #assignedTo="ngModel" [(ngModel)]= "newTach.assignedTo" class="form-control" placeholder="Assigner a">
              </div>
            
              <div class="form-group col-md-6">
                <input name="status" #status="ngModel" [(ngModel)]= "newTach.status" class="form-control" placeholder="Status">
              </div>
          </div>
        
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-block btn-info" (click)="onSubmite()">{{toUpdate ? 'Modifier' : 'Ajouter'}}</button>
          </div>
        
        </form>
    </div>
    <div class="col md 7">
        <table class="table table-hover">
          <thead>
            <th>Titre</th>
            <th>Crée par</th>
            <th>Assignée a</th>
            <th>Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of allData">
              <td (click)="edit(item)">{{item.title}}</td>
              <td (click)="edit(item)">{{item.createdOn}}</td>
              <td (click)="edit(item)">{{item.assignedTo}}</td>
              <td (click)="edit(item)">{{item.status}}</td>
              <td>
                <a class="btn text-danger"><i class="fa fa-trash" aria-hidden="true" (click) = "delete(item)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
